<ion-header>
  <ion-toolbar color="primary">
      <ion-icon (click)="addFavorite()" name="add-circle" class="right-icon"></ion-icon>
    <ion-title>
      Météo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Ma position
  </div>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="2">
        <div>
          {{mainTemperature | number: '1.0-0'}}
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <img [src]="icon" />
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          {{mainCity}}
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-button expand="block" (click)="goToDetails(mainCity)">
            Detail
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    Favoris
  </div>
  <ion-grid>
    <ion-row *ngFor="let city of cities" justify-content-center align-items-center>
        <ion-col size="2">
          <div>
            {{city.temperature | number: '1.0-0'}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <img [src]="city.icon" />
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            {{city.name}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <ion-button expand="block" (click)="goToDetails(city.name)">
              Detail
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
